<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="OfflineVideoInfo.log"  />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OfflineVideosInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <OfflineVideosInfo.Properties.Settings>
      <setting name="Path" serializeAs="String">
        <value>D:\TEMP\download</value>
      </setting>
      <setting name="OutputXml" serializeAs="String">
        <value>D:\TEMP\download\videoInfoList.xml</value>
      </setting>
      <setting name="OutputHtml" serializeAs="String">
        <value>D:\TEMP\download\unfinishedVideoList.html</value>
      </setting>
    </OfflineVideosInfo.Properties.Settings>
  </userSettings>
</configuration>